## Equal Weights Strategy

In [ ]:
%pip install pandas numpy yfinance

import pandas as pandas
import numpy as numpy
import yfinance as yfinance
import math

## Load the Stocks List

In [63]:
import pandas as pd
tickers = pd.read_csv('top_50_american_stocks.csv')
print(tickers.head())

  Ticker           Company Name
0   NVDA     NVIDIA Corporation
1   MSFT  Microsoft Corporation
2   AAPL             Apple Inc.
3  GOOGL          Alphabet Inc.
4   AMZN       Amazon.com, Inc.

In [64]:
import pandas as pd
import yfinance as yf

tickers = pd.read_csv("top_50_american_stocks.csv")

tickers_list = [t.replace(".", "-") for t in tickers["Ticker"].astype(str).str.strip().tolist()]

def fetch_price_and_market_cap(ticker_list):
    results = []
    for t in ticker_list:
        try:
            ticker = yf.Ticker(t)
            info = ticker.info
            hist = ticker.history(period="1d")
            
            latest_price = hist["Close"].iloc[-1] if not hist.empty else None
            market_cap = info.get("marketCap", None)
            
            results.append({"Ticker": t, "Latest Price": latest_price, "Market Cap": market_cap})
        except Exception as e:
            results.append({"Ticker": t, "Latest Price": None, "Market Cap": None})
    
    return pd.DataFrame(results)

df = fetch_price_and_market_cap(tickers_list)
print(df)

   Ticker  Latest Price     Market Cap
0    NVDA    174.119995  4246368944128
1    MSFT    508.864990  3782561759232
2    AAPL    232.360001  3448315314176
3   GOOGL    213.720001  2588480634880
4    AMZN    228.750000  2439595687936
5    META    738.734985  1855805718528
6    AVGO    295.609985  1390392770560
7   BRK-B    504.701294  1088645693440
8    TSLA    333.785004  1076606861312
9     TSM    231.500000  1200575610880
10    JPM    302.250000   831111954432
11    WMT     96.695000   771666739200
12      V    352.519989   684220153856
13    LLY    729.282593   653770489856
14   ORCL    225.184998   632506351616
15     MA    596.130005   538908688384
16   NFLX   1207.469971   513085407232
17    XOM    114.355003   487523975168
18    JNJ    176.869995   425963094016
19   COST    943.049988   418220965888
20     HD    406.285004   404410826752
21    BAC     50.855000   376680448000
22   ABBV    210.059998   371083575296
23   PLTR    156.929703   372255719424
24     PG    157.044998   367857500160
25    CVX    160.824997   324033413120
26    SAP    271.869995   316619816960
27   BABA    135.110001   322110324736
28     KO     68.945000   296716500992
29     GE    275.489990   292140613632
30   ASML    742.342529   293759778816
31   TMUS    251.539993   283088158720
32    UNH    305.559998   276737753088
33   CSCO     69.009903   273279221760
34    WFC     82.589996   264572108800
35    AMD    162.807404   264190246912
36     PM    166.220001   258736390144
37     TM    194.395004   253362798592
38    NVO     56.306099   247970365440
39    AZN     80.000000   248163205120
40    NVS    126.400002   245066842112
41    CRM    254.960007   243746537472
42     MS    150.550003   240328982528
43     GS    746.710022   226044805120
44    AXP    332.019989   231046725632
45    ABT    132.389999   230419496960
46    IBM    242.523804   225915518976
47    LIN    479.989990   225072119808
48   HSBC     64.394997   223392677888
49    nan     10.954600      338240800

In [65]:
df = df.sort_values(by = "Market Cap", ascending = False)
df

   Ticker  Latest Price     Market Cap
0    NVDA    174.119995  4246368944128
1    MSFT    508.864990  3782561759232
2    AAPL    232.360001  3448315314176
3   GOOGL    213.720001  2588480634880
4    AMZN    228.750000  2439595687936
5    META    738.734985  1855805718528
6    AVGO    295.609985  1390392770560
9     TSM    231.500000  1200575610880
7   BRK-B    504.701294  1088645693440
8    TSLA    333.785004  1076606861312
10    JPM    302.250000   831111954432
11    WMT     96.695000   771666739200
12      V    352.519989   684220153856
13    LLY    729.282593   653770489856
14   ORCL    225.184998   632506351616
15     MA    596.130005   538908688384
16   NFLX   1207.469971   513085407232
17    XOM    114.355003   487523975168
18    JNJ    176.869995   425963094016
19   COST    943.049988   418220965888
20     HD    406.285004   404410826752
21    BAC     50.855000   376680448000
23   PLTR    156.929703   372255719424
22   ABBV    210.059998   371083575296
24     PG    157.044998   367857500160
25    CVX    160.824997   324033413120
27   BABA    135.110001   322110324736
26    SAP    271.869995   316619816960
28     KO     68.945000   296716500992
30   ASML    742.342529   293759778816
29     GE    275.489990   292140613632
31   TMUS    251.539993   283088158720
32    UNH    305.559998   276737753088
33   CSCO     69.009903   273279221760
34    WFC     82.589996   264572108800
35    AMD    162.807404   264190246912
36     PM    166.220001   258736390144
37     TM    194.395004   253362798592
39    AZN     80.000000   248163205120
38    NVO     56.306099   247970365440
40    NVS    126.400002   245066842112
41    CRM    254.960007   243746537472
42     MS    150.550003   240328982528
44    AXP    332.019989   231046725632
45    ABT    132.389999   230419496960
43     GS    746.710022   226044805120
46    IBM    242.523804   225915518976
47    LIN    479.989990   225072119808
48   HSBC     64.394997   223392677888
49    nan     10.954600      338240800

## Taking the Top 10 Stocks Respective to the Market Cap

In [66]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

  Ticker  Latest Price     Market Cap
0   NVDA    174.119995  4246368944128
1   MSFT    508.864990  3782561759232
2   AAPL    232.360001  3448315314176
3  GOOGL    213.720001  2588480634880
4   AMZN    228.750000  2439595687936
5   META    738.734985  1855805718528
6   AVGO    295.609985  1390392770560
7    TSM    231.500000  1200575610880
8  BRK-B    504.701294  1088645693440
9   TSLA    333.785004  1076606861312

In [67]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size = portfolio_size / len(df.index)
position_size

ValueError: invalid literal for int() with base 10: ''

In [ ]:
df = df.copy()

df['Number of Shares to Buy'] = df['Latest Price'].apply(lambda price: math.floor(position_size / price))

df

  Ticker  Latest Price     Market Cap  Number of Shares to Buy
0   NVDA    174.065399  4245534801920                        0
1   MSFT    508.799988  3781996838912                        0
2   AAPL    232.330002  3447870193664                        0
3  GOOGL    213.564194  2586839089152                        0
4   AMZN    228.710007  2439275872256                        0
5   META    738.559998  1855366103040                        0
6   AVGO    295.609985  1390392770560                        0
7    TSM    231.445007  1200523837440                        0
8  BRK-B    504.711487  1088667713536                        0
9   TSLA    333.864990  1076816183296                        0